<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Symfony Webshop :: Softuni project {% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("styles/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("styles/shop.css") }}">
    {% endblock %}
</head>

<body>


    {% include "@WebShop/_main_navigation.html.twig" %}
    {% include "@WebShop/_admin_navigation.html.twig" %}
    {% include "@WebShop/_flash_messages.html.twig" %}
	
 
	<br />
	<br />
<div class="container">

    {# body #}
    <div class="row">
		<div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
					  <div class="item active">
                            <img class="slide-image" src="http://involighting.com//invo/images/slide-3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="slide-image" src="http://www.digitalstar.com.au/media/etheme/buyshop/buyshopflex/banner-x400-20160726.jpg" alt="">
                        </div> 
						<div class="item">
                            <img class="slide-image" src="http://stationeryshoppe-co-uk.officeclubonline.co.uk/wp-content/blogs.dir/31/files/sites/31/2016/04/ink-slider-2-1170x300.jpg" alt="">
                        </div>
                     </div>
                     <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                     </a>
                     <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                     </a>
                </div>
            </div>
         </div>
        {# main #}
        <main class="col-md-9 col-md-9">
            <h1 class="h3">{% block main_title %}Latest products{% endblock %}</h1>
            <hr>
            {% block main %}
            {% endblock %}
        </main>

        {# sidebar #}
        <aside class="col-md-3 col-md-pull-right">
            {% block sideabr %}
                {{ render(controller("WebShopBundle:WebShop:sidebarMenu")) }}
            {% endblock %}
        </aside>
		
    </div>

    <hr>
    <footer>
        {% block footer %}
            <p class="text-right">WebShop &copy; 2017 Мирослав Петров</a></p>
        {% endblock %}
    </footer>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{{ asset("scripts/bootstrap.min.js") }}"></script>
    <script src="{{ asset("scripts/main.js") }}"></script>
{% endblock %}

</body>
</html>